PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/idea_tracker
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1d

# OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# Mailer Credentials
GMAIL_USER=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=